# Ignore Python bytecode and caches
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
*.env

# Ignore logs
*.log

# Ignore virtual environments
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Specific files or folders for your project
output/
temporary_files/

output_audio.wav
temp_recording.wav
